controllerMode: local
dependencies:
  local:
    kubeconfigPath: ""
    prometheusURL: "http://localhost:9090"
  inCluster:
    prometheusURL: ""
executionMode: both
controller:
  targetNamespace: "prometheus"
  targetClusterID: "dev
  writeAuthorizedClusters: []
  tasks:
    createStats:
      enabled: true
      schedule: "15m"
    applyRecommendation:
      enabled: false
      schedule: "5m"
      dryRun: true
      nodeStatsURL:
        host: "localhost:8080"
      overridesURL:
        host: "localhost:8080"
    modifyEqualCPUResources:
      enabled: false
      schedule: "10m"
    nodeLoadMonitoring:
      enabled: false
      schedule: "60s"
    evictionForce:
      enabled: false
      schedule: "1m"
server:
  port: "8080"
  basicAuth:
    username: "admin"
    password: "admin"
webhook:
  port: "8443"
  certsDir: "/tmp/webhook-certs"
  statsURL:
    host: "localhost:8080"
db:
  type: postgres
  host: localhost
  port: 5432
  database: cruisekube
  username: cruisekube_user
  password: your_password_here
  sslmode: disable
