# Site
site_name: CruiseKube
site_url: https://truefoundry.github.io/CruiseKube
site_author: TrueFoundry
site_description: >-
  CruiseKube is an intelligent Kubernetes resource optimization controller that automatically monitors, analyzes, and applies resource recommendations to improve cluster efficiency and reduce costs.
extra_css:
  - stylesheets/extra.css


# Repository
repo_name: truefoundry/CruiseKube
repo_url: https://github.com/truefoundry/CruiseKube

# Copyright
copyright: Copyright &copy; 2025 TrueFoundry

theme:
  name: material
  logo: images/logo/cruiseKube_White.png
  favicon: images/logo/favicon/favicon.ico
  font:
    text: Roboto
    code: Roboto Mono
  # icon:
  #   admonition:
  #     note: octicons/tag-16
  #     abstract: octicons/checklist-16
  #     info: octicons/info-16
  #     tip: octicons/squirrel-16
  #     success: octicons/check-16
  #     question: octicons/question-16
  #     warning: octicons/alert-16
  #     failure: octicons/x-circle-16
  #     danger: octicons/zap-16
  #     bug: octicons/bug-16
  #     example: octicons/beaker-16
  #     quote: octicons/quote-16
  features:
    # - announce.dismiss
    # - content.action.edit
    # - content.action.view
    # - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to system preference

markdown_extensions:
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

plugins:
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - blog

extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/Dqek4xJa3N
    - icon: fontawesome/brands/github
      link: https://github.com/truefoundry
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/truefoundry

# Page tree
nav:
  - Home: index.md
  - Getting started:
      - Introduction: src/gs-introduction.md
      - Installation: src/installation.md
      - Concepts:
          - Tasks: src/concepts-tasks.md
          - Metrics Provider: src/concepts-metrics.md
          - Database: src/concepts-database.md
      - Configuration:
          - Helm Values: src/config-fields.md
          - Environment Variables: src/config-env.md
  - Architecture:
      - Overview: src/arch-overview.md
      - Components: src/arch-components.md
  - Development:
      - Environment: src/dev-env.md
