replicas: 1

persistence:
  enabled: false
  size: 10Gi
  storageClassName: ""

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: false

admin:
  existingSecret: ""
  userKey: admin-user
  passwordKey: admin-password

env:
  GF_SECURITY_ADMIN_USER: admin
  GF_SECURITY_ADMIN_PASSWORD: admin
  GF_INSTALL_PLUGINS: "yesoreyeram-infinity-datasource"


dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: 'autopilot'
        orgId: 1
        folder: 'Autopilot'
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        allowUiUpdates: true
        options:
          path: /etc/grafana/provisioning/dashboards
          foldersFromFilesStructure: false


extraConfigmapMounts:
  - name: infinity-datasources
    mountPath: /etc/grafana/provisioning/datasources/infinity.yaml
    configMap: grafana-datasources
    subPath: infinity.yaml
    readOnly: true
  - name: prometheus-datasources
    mountPath: /etc/grafana/provisioning/datasources/prometheus.yaml
    configMap: grafana-datasources
    subPath: prometheus.yaml
    readOnly: true
  - name: recommendation-datasources
    mountPath: /etc/grafana/provisioning/datasources/recommendation.yaml
    configMap: grafana-datasources
    subPath: recommendation.yaml
    readOnly: true
  - name: cluster-dashboard
    mountPath: /etc/grafana/provisioning/dashboards/cluster-overview.json
    configMap: grafana-dashboards
    subPath: cluster-overview.json
    readOnly: true


rbac:
  create: true
  pspEnabled: false

serviceAccount:
  create: true
  name: ""

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

nodeSelector: {}

tolerations: []

affinity: {}
