replicas: 1

image:
  repository: tfy.jfrog.io/tfy-images/autopilot-oss
  imagePullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

controller:
  mode: "inCluster"

serviceAccount:
  create: true
  name: ""

rbac:
  create: true

persistence:
  enabled: true
  size: 5Gi
  storageClass: ""
  accessMode: ReadWriteOnce
  mountPath: /app/stats-data
  annotations: {}

podAnnotations: {}
podLabels: {}

service:
  type: ClusterIP
  httpPort: 8080
  metricsPort: 8081
  annotations: {}

serviceMonitor:
  enabled: true
  jobLabel: autopilot-controller
  additionalLabels: {}
  additionalAnnotations: {}
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

env: {}
