name: Scan and Generate Grype Report

on:
  schedule:
    - cron: '0 9 * * *'

jobs:
  image-scan-build-autopilot:
    name: Image Vulnerability Scan for Build Autopilot
    uses: truefoundry/github-workflows-public/.github/workflows/update-grype-report.yml@main
    with:
      grype_config_file: autopilot-grype-config.yaml
      dockerfile_path: 'Dockerfile'
      image_artifact_name: 'autopilot-oss'
      artifactory_repository_url: ${{ vars.TRUEFOUNDRY_ARTIFACTORY_PUBLIC_REPOSITORY }}
