name: Lint and test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'cmd/**'
      - 'pkg/**'
      - '*.go'
      - 'go.mod'
      - 'go.sum'
      - 'go.work'
      - 'go.work.sum'

env:
  GO_VERSION: 1.25.5

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install dependencies
        run: go mod tidy
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout 5m
          version: v2.7.2

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
      - name: Install dependencies
        run: go mod tidy
      - name: Build
        run: go build -v ./...

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
      - name: Install dependencies
        run: go mod tidy
      - name: test
        run: make test
